swagger: '2.0'
info:
  version: 'v1'
  title: Apigee API
  description: The Apigee API lets you programmatically manage Apigee Hybrid with a set of RESTful operations, including:<ul>  <li>Create, edit, and delete API proxies</li>  <li>Manage users</li>  <li>Deploy and undeploy proxy revisions</li>  <li>Configure environments</li></ul><p>For information on using the APIs described in this section, see <a href="/hybrid/beta2/reference/apis">Get started using the APIs</a>.</p>
  contact: {}
host: apigee.googleapis.com
basePath: /
securityDefinitions: {}
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /v1/{name}:
    get:
      description: >-
        Lists hybrid services and its trusted issuers service account ids.

        This api is authenticated and unauthorized(allow all the users) and used by

        runtime authn-authz service to query control plane's issuer service account

        ids.
      summary: ListV1ByName
      tags:
      - issuers
      operationId: V1ByNameGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: name
        in: path
        required: true
        type: string
        pattern: ^hybrid/issuers$
        description: Required. Must be of the form `hybrid/issuers`.
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1ListHybridIssuersResponse'
          headers: {}
    post:
      description: Associate a site with a zone.
      summary: AssociateSiteZoneV1ByName
      tags:
      - zones
      operationId: V1ByNamePost
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: name
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/sites/[^/]+/zones/[^/]+$
        description: >-
          Required. Must be of the form

          `organizations/{organization_id}/sites/{site_id}/zones/{zone_id}`
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1ApiResponseWrapper'
          headers: {}
    delete:
      description: Deletes an alias.
      summary: DeleteV1ByName
      tags:
      - aliases
      operationId: V1ByNameDelete
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: name
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$
        description: >-
          Required. The name of the alias. Must be of the form

          `organizations/{organization}/environments/{environment}/keystores/{keystore}/aliases/{alias}`.
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1Alias'
          headers: {}
    put:
      description: Updates the certificate in an alias.
      summary: UpdateV1ByName
      tags:
      - aliases
      operationId: V1ByNamePut
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: ignoreExpiryValidation
        in: query
        required: false
        type: boolean
        description: Required. If `true`, no expiry validation will be performed.
      - name: ignoreNewlineValidation
        in: query
        required: false
        type: boolean
        description: >-
          If `true`, do not throw an error when the file contains a chain with no

          newline between each certificate. By default, a newline is required between

          each certificate in a chain.
      - name: name
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$
        description: >-
          Required. The name of the alias. Must be of the form

          `organizations/{organization}/environments/{environment}/keystores/{keystore}/aliases/{alias}`.
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/GoogleApiHttpBody'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1Alias'
          headers: {}
    patch:
      description: Updates the debug mask singleton resource for an environment.
      summary: UpdateDebugmaskV1ByName
      tags:
      - environments
      operationId: V1ByNamePatch
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: replaceRepeatedFields
        in: query
        required: false
        type: boolean
        description: >-
          If true, repeated fields covered by the update_mask will replace

          the existing values. The default behavior is to append.
      - name: updateMask
        in: query
        required: false
        type: string
        description: Field mask to support partial updates.
      - name: name
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/debugmask$
        description: The DebugMask resource name.
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/GoogleCloudApigeeV1DebugMask'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1DebugMask'
          headers: {}
  /v1/{parent}/testemail:
    post:
      description: >-
        Send a test email to check the SMTP settings for a IDP zone. Sends the

        email to the requester's email using the token.
      summary: TestemailV1TestemailByParent
      tags:
      - zones
      operationId: V1TestemailByParentPost
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/zones/[^/]+$
        description: Required. Must be of the form `organizations/{organization_id}/zones/{zone_id}`
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/GoogleCloudApigeeV1TestEmail'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1ApiResponseWrapper'
          headers: {}
  /v1/{parent}/aliases:
    get:
      description: Lists all aliases.
      summary: ListV1AliasesByParent
      tags:
      - aliases
      operationId: V1AliasesByParentGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$
        description: >-
          Required. The name of the keystore. Must be of the form

          `organizations/{organization}/environments/{environment}/keystores/{keystore}`.
      responses:
        200:
          description: ''
          schema:
            type: object
          headers: {}
    post:
      description: >-
        Creates an alias from a key, certificate pair.

        The structure of the request is controlled by the `format` query parameter:
         * `keycertfile` - Separate PEM-encoded key and certificate files are
         uploaded. The request must have `Content-Type: multipart/form-data` and
         include fields `keyFile` and `certFile`. If uploading to a truststore,
         omit `keyFile`.
        * `pkcs12` - A PKCS12 file is uploaded. The request must have

        `Content-Type: multipart/form-data` with the file provided in the only

        field.

        * `selfsignedcert` - A new private key and certificate are generated. The

        request must have `Content-Type: application/json` and a body of

        CertificateGenerationSpec.
      summary: CreateV1AliasesByParent
      tags:
      - aliases
      operationId: V1AliasesByParentPost
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: _password
        in: query
        required: false
        type: string
        description: The password for the private key file, if it exists.
      - name: ignoreExpiryValidation
        in: query
        required: false
        type: boolean
        description: If `true`, no expiry validation will be performed.
      - name: ignoreNewlineValidation
        in: query
        required: false
        type: boolean
        description: >-
          If `true`, do not throw an error when the file contains a chain with no

          newline between each certificate. By default, a newline is required between

          each certificate in a chain.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$
        description: >-
          Required. The name of the keystore. Must be of the form

          `organizations/{organization}/environments/{environment}/keystores/{keystore}`.
      - name: alias
        in: query
        required: false
        type: string
        description: >-
          The alias for the key, certificate pair. Values must match

          regular expression `[\w\s-.]{1,255}`. Required for all formats

          except 'selfsignedcert'; self-signed certs may specify the alias in either

          this parameter or the JSON body.
      - name: format
        in: query
        required: false
        type: string
        description: >-
          Required. The format of the data. Must be either `selfsignedcert`,

          `keycertfile`, or `pkcs12`.
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/GoogleApiHttpBody'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1Alias'
          headers: {}
  /v1/{name}/certificate:
    get:
      description: Gets the certificate from an alias in PEM-encoded form.
      summary: GetCertificateV1CertificateByName
      tags:
      - aliases
      operationId: V1CertificateByNameGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: name
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$
        description: >-
          Required. The name of the alias. Must be of the form

          `organizations/{organization}/environments/{environment}/keystores/{keystore}/aliases/{alias}`.
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleApiHttpBody'
          headers: {}
  /v1/{name}/csr:
    get:
      description: >-
        Generates a PKCS #10 Certificate Signing Request for the private key in

        an alias.
      summary: CsrV1CsrByName
      tags:
      - aliases
      operationId: V1CsrByNameGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: name
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$
        description: >-
          Required. The name of the alias. Must be of the form

          `organizations/{organization}/environments/{environment}/keystores/{keystore}/aliases/{alias}`.
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleApiHttpBody'
          headers: {}
  /v1/{parent}/keystores:
    get:
      description: Lists all keystores and truststores.
      summary: ListV1KeystoresByParent
      tags:
      - keystores
      operationId: V1KeystoresByParentGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The name of the environment in which list keystores.

          Must be of the form

          `organizations/{organization}/environments/{environment}`.
      responses:
        200:
          description: ''
          schema:
            type: object
          headers: {}
    post:
      description: >-
        Creates a keystore or truststore:
         * Keystore: Contains certificates and their associated keys.
         * Truststore: Contains trusted certificates used to validate a
         server's certificate. These certificates are typically self-signed
         certificates or certificates that are not signed by a trusted CA.
      summary: CreateV1KeystoresByParent
      tags:
      - keystores
      operationId: V1KeystoresByParentPost
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The name of the environment in which to create the keystore.

          Must be of the form

          `organizations/{organization}/environments/{environment}`.
      - name: name
        in: query
        required: false
        type: string
        description: Optional. Overrides the value in Keystore.
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/GoogleCloudApigeeV1Keystore'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1Keystore'
          headers: {}
  /v1/{parent}/queries:
    get:
      description: Return a list of Asynchronous Queries
      summary: ListV1QueriesByParent
      tags:
      - queries
      operationId: V1QueriesByParentGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: submittedBy
        in: query
        required: false
        type: string
        description: Filter response list by user who submitted queries
      - name: from
        in: query
        required: false
        type: string
        description: >-
          Filter response list by returning asynchronous queries that

          created after this date time.

          Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.
      - name: inclQueriesWithoutReport
        in: query
        required: false
        type: string
        description: >-
          Flag to include asynchronous queries that don't have a report

          denifition.
      - name: to
        in: query
        required: false
        type: string
        description: >-
          Filter response list by returning asynchronous queries that

          created before this date time.

          Time must be in ISO date-time format like '2011-12-03T10:16:30Z'.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The parent organization and environment names.

          Must be of the form `organizations/{org}/environments/{env}`.
      - name: status
        in: query
        required: false
        type: string
        description: Filter response list by asynchronous query status
      - name: dataset
        in: query
        required: false
        type: string
        description: >-
          Filter response list by dataset.


          Example: `api`, `mint`
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1ListAsyncQueriesResponse'
          headers: {}
    post:
      description: >-
        Submit a query to be processed in the background.

        If the submission of the query succeeds, the API returns a 201 status and

        an ID that refer to the query. In addition to the HTTP status 201, the

        `state` of "enqueued" means that the request succeeded.
      summary: CreateV1QueriesByParent
      tags:
      - queries
      operationId: V1QueriesByParentPost
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The parent organization and environment names.

          Must be of the form `organizations/{org}/environments/{env}`.
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/GoogleCloudApigeeV1Query'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1AsyncQuery'
          headers: {}
  /v1/{parent}/caches:
    get:
      description: Lists all caches in an environment.
      summary: ListV1CachesByParent
      tags:
      - caches
      operationId: V1CachesByParentGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The name of the parent environment under which to get caches.

          Must be of the form:
              `organizations/{organization_id}/environments/{environment_id}`
      responses:
        200:
          description: ''
          schema:
            type: object
          headers: {}
  /v1/{parent}/deployments:
    get:
      description: Lists all deployments of API proxies or shared flows in an environment.
      summary: ListV1DeploymentsByParent
      tags:
      - deployments
      operationId: V1DeploymentsByParentGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: sharedFlows
        in: query
        required: false
        type: boolean
        description: >-
          Optional. Set to true to return only shared flows deployments and false

          to return only api proxy deployments.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The environment name for which to get deployment info. Must be of

          the form `organizations/{org_id}/environments/{env_id}`.
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1ListDeploymentsResponse'
          headers: {}
  /v1/{parent}/resourcefiles:
    post:
      description: >-
        Creates a resource file in an environment.

        `Content-Type` must be either `multipart/form-data` with the resource file

        provided in the only field, or 'application/octet-stream'.
      summary: CreateV1ResourcefilesByParent
      tags:
      - resourcefiles
      operationId: V1ResourcefilesByParentPost
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: name
        in: query
        required: false
        type: string
        description: >-
          Required. The id of the resource file.  Must match the regular expression

          [a-zA-Z0-9:/\\!@#$%^&{}\[\]()+\-=,.~'` ]{1,255}
      - name: type
        in: query
        required: false
        type: string
        description: >-
          Required. The resource file type, must be `js`, `jsc`, `java`,

          `properties`, `py`, `xsl`, `wsdl`, or `xsd`.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The name of the environment in which to create the resource file.

          Must be of the form

          `organizations/{organization}/environments/{environment}`.
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/GoogleApiHttpBody'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1ResourceFile'
          headers: {}
    get:
      description: Lists all resource files in an environment.
      summary: ListV1ResourcefilesByParent
      tags:
      - resourcefiles
      operationId: V1ResourcefilesByParentGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: type
        in: query
        required: false
        type: string
        description: Optional. Restricts the response to resources of the given type.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The name of the environment in which to list resource files.

          Must be of the form

          `organizations/{organization}/environments/{environment}`.
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1ListEnvironmentResourcesResponse'
          headers: {}
  /v1/{parent}/resourcefiles/{type}/{resourceFileId}:
    get:
      description: Gets a resource file in an environment.
      summary: GetV1ResourcefilesResourceFileIdByParent
      tags:
      - resourcefiles
      operationId: V1ResourcefilesResourceFileIdByParentAndTypeGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: type
        in: path
        required: true
        type: string
        description: >-
          Required. The resource file type, must be `js`, `jsc`, `java`,

          `properties`, `py`, `xsl`, `wsdl`, or `xsd`.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The name of the parent environment.

          Must be of the form

          `organizations/{organization}/environments/{environment}`.
      - name: resourceFileId
        in: path
        required: true
        type: string
        description: >-
          Required. The id of the resource file to get. Must match the regular

          expression [a-zA-Z0-9:/\\!@#$%^&{}\[\]()+\-=,.~'` ]{1,255}
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleApiHttpBody'
          headers: {}
    put:
      description: >-
        Updates a resource file in an environment.

        `Content-Type` must be either `multipart/form-data` with the resource file

        provided in the only field, or 'application/octet-stream'.
      summary: UpdateV1ResourcefilesResourceFileIdByParent
      tags:
      - resourcefiles
      operationId: V1ResourcefilesResourceFileIdByParentAndTypePut
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: type
        in: path
        required: true
        type: string
        description: >-
          Required. The resource file type, must be `js`, `jsc`, `java`,

          `properties`, `py`, `xsl`, `wsdl`, or `xsd`.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The name of the parent environment.

          Must be of the form

          `organizations/{organization}/environments/{environment}`.
      - name: resourceFileId
        in: path
        required: true
        type: string
        description: >-
          Required. The id of the resource file to update. Must match the regular

          expression [a-zA-Z0-9:/\\!@#$%^&{}\[\]()+\-=,.~'` ]{1,255}
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/GoogleApiHttpBody'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1ResourceFile'
          headers: {}
    delete:
      description: Deletes a resource file in an environment.
      summary: DeleteV1ResourcefilesResourceFileIdByParent
      tags:
      - resourcefiles
      operationId: V1ResourcefilesResourceFileIdByParentAndTypeDelete
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The name of the parent environment.

          Must be of the form

          `organizations/{organization}/environments/{environment}`.
      - name: resourceFileId
        in: path
        required: true
        type: string
        description: >-
          Required. The id of the resource file to delete. Must match the regular

          expression [a-zA-Z0-9:/\\!@#$%^&{}\[\]()+\-=,.~'` ]{1,255}
      - name: type
        in: path
        required: true
        type: string
        description: >-
          Required. The resource file type, must be `js`, `jsc`, `java`,

          `properties`, `py`, `xsl`, `wsdl`, or `xsd`.
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1ResourceFile'
          headers: {}
  /v1/{parent}/resourcefiles/{type}:
    get:
      description: Lists all resource files in an environment.
      summary: ListEnvironmentResourcesV1ResourcefilesByParentAndType
      tags:
      - resourcefiles
      operationId: V1ResourcefilesByParentAndTypeGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: type
        in: path
        required: true
        type: string
        description: Optional. Restricts the response to resources of the given type.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The name of the environment in which to list resource files.

          Must be of the form

          `organizations/{organization}/environments/{environment}`.
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1ListEnvironmentResourcesResponse'
          headers: {}
  /v1/{parent}/flowhooks:
    get:
      description: >-
        Lists the flow hooks attached to a particular environment. This always

        returns `["PreProxyFlowHook", "PostProxyFlowHook", "PreTargetFlowHook",

        "PostTargetFlowHook"]`
      summary: ListV1FlowhooksByParent
      tags:
      - flowhooks
      operationId: V1FlowhooksByParentGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+$
        description: >-
          Required. The name of the environment who's flow hooks should be listed.

          Must be of the form:
            `organizations/{organization_id}/environments/{environment_id}`
      responses:
        200:
          description: ''
          schema:
            type: object
          headers: {}
  /v1/{parent}/data:
    get:
      description: Lists the transaction IDs from a debug session.
      summary: ListV1DataByParent
      tags:
      - data
      operationId: V1DataByParentGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: limit
        in: query
        required: false
        type: integer
        format: int32
        description: >-
          Optional. A http query parameter that can control the maximum number of

          debug session transactions that can be returned by UAP.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/apis/[^/]+/revisions/[^/]+/debugsessions/[^/]+$
        description: >-
          Required. The name of the debug sessions for which to list transactions.

          Must be of the form:
           `organizations/{organization}/environments/{environment}/apis/{api}/revisions/{revision}/debugsessions/{session}`.
      responses:
        200:
          description: ''
          schema:
            type: object
          headers: {}
  /v1/{name}/data:
    delete:
      description: >-
        Deletes the data from a debug session. This does not cancel the debug

        session or prevent further data from being collected if the session is

        still active in runtime pods.
      summary: DeleteDataV1DataByName
      tags:
      - debugsessions
      operationId: V1DataByNameDelete
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: name
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/apis/[^/]+/revisions/[^/]+/debugsessions/[^/]+$
        description: >-
          Required. The name of the debug session to delete.

          Must be of the form:
           `organizations/{organization}/environments/{environment}/apis/{api}/revisions/{revision}/debugsessions/{debugsession}`.
      responses:
        200:
          description: ''
          schema:
            type: object
          headers: {}
  /v1/{parent}/debugsessions:
    get:
      description: >-
        Lists debug sessions that are currently active in the given API Proxy

        revision.
      summary: ListV1DebugsessionsByParent
      tags:
      - debugsessions
      operationId: V1DebugsessionsByParentGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/apis/[^/]+/revisions/[^/]+$
        description: >-
          Required. The name of the API Proxy revision deployment for which

          to list debug sessions. Must be of the form:
           `organizations/{organization}/environments/{environment}/apis/{api}/revisions/{revision}`.
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1ListDebugSessionsResponse'
          headers: {}
    post:
      description: Creates a debug session for a deployed API Proxy revision.
      summary: CreateV1DebugsessionsByParent
      tags:
      - debugsessions
      operationId: V1DebugsessionsByParentPost
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: parent
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/apis/[^/]+/revisions/[^/]+$
        description: >-
          Required. The resource name of the API Proxy revision deployment for which

          to create the DebugSession. Must be of the form
           `organizations/{organization}/environments/{environment}/apis/{api}/revisions/{revision}`.
      - name: timeout
        in: query
        required: false
        type: string
        description: >-
          Optional. The time in seconds after which this DebugSession should end.

          A timeout specified in DebugSession will overwrite this value.
      - name: body
        in: body
        required: true
        description: ''
        schema:
          $ref: '#/definitions/GoogleCloudApigeeV1DebugSession'
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1DebugSession'
          headers: {}
  /v1/{name}/deployments:
    delete:
      description: >-
        Undeploys an API proxy revision from an environment.


        You must specify the revision number of the API proxy because multiple

        revisions of the same API Proxy can be deployed in the same environment if

        the proxy base path is different.


        See Force Undeploy API Proxy for the API to force the undeployment of an

        API.
      summary: DeploymentsV1DeploymentsByName
      tags:
      - revisions
      operationId: V1DeploymentsByNameDelete
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: name
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/apis/[^/]+/revisions/[^/]+$
        description: >-
          Required. The name of the API proxy revision deployment.

          Must be of the form:
            `organizations/{organization_id}/environments/{environment_id}/apis/{api_id}/revisions/{revision_id}`
      responses:
        200:
          description: ''
          schema:
            type: object
          headers: {}
    get:
      description: >-
        Gets the deployment of an API proxy revision and actual state reported by

        runtime pods.
      summary: GetDeploymentsV1DeploymentsByName
      tags:
      - revisions
      operationId: V1DeploymentsByNameGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
      - name: access_token
        in: query
        required: false
        type: string
        description: OAuth access token.
      - name: key
        in: query
        required: false
        type: string
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      - name: name
        in: path
        required: true
        type: string
        pattern: ^organizations/[^/]+/environments/[^/]+/apis/[^/]+/revisions/[^/]+$
        description: >-
          Required. A resource name representing an API proxy revision in an

          environment. Must be of the form

          `organizations/{org_id}/environments/{env_id}/apis/{api_proxy_id}/revisions/{revision_id}`.
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/GoogleCloudApigeeV1Deployment'
          headers: {}
  /v1/{parent}/revisions:
    get:
      description: Lists all revisions for an API proxy.
      summary: ListV1RevisionsByParent
      tags:
      - revisions
      operationId: V1RevisionsByParentGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: upload_protocol
        in: query
        required: false
        type: string
        description: Upload protocol for media (e.g. "raw", "multipart").
      - name: prettyPrint
        in: query
        required: false
        default: true
        type: boolean
        description: Returns response with indentations and line breaks.
      - name: quotaUser
        in: query
        required: false
        type: string
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      - name: fields
        in: query
        required: false
        type: string
        description: Selector specifying which fields to include in a partial response.
      - name: uploadType
        in: query
        required: false
        type: string
        description: Legacy upload protocol for media (e.g. "media", "multipart").
      - name: callback
        in: query
        required: false
        type: string
        description: JSONP
      - name: oauth_token
        in: query
        required: false
        type: string
        description: OAuth 2.0 token for the current user.
      - name: $.xgafv
        in: query
        required: false
        default: 1
        type: string
        description: 'V1 error format. (Acceptable values are: "1", "2")'
      - name: alt
        in: query
        required: false
        default: json
        type: string
[...]
