openapi: 3.0.0
info:
  title: Apigee API
  description: The Apigee API lets you programmatically manage Apigee Hybrid with a set of RESTful operations, including:<ul>  <li>Create, edit, and delete API proxies</li>  <li>Manage users</li>  <li>Deploy and undeploy proxy revisions</li>  <li>Configure environments</li></ul><p>For information on using the APIs described in this section, see <a href="/hybrid/beta2/reference/apis">Get started using the APIs</a>.</p>
  contact: {}
  version: 'v1'
servers:
- url: https://apigee.googleapis.com/
  variables: {}
paths:
  /v1/{name}:
    get:
      tags:
      - issuers
      summary: ListV1ByName
      description: >-
        Lists hybrid services and its trusted issuers service account ids.

        This api is authenticated and unauthorized(allow all the users) and used by

        runtime authn-authz service to query control plane's issuer service account

        ids.
      operationId: ListV1ByName
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: name
        in: path
        description: Required. Must be of the form `hybrid/issuers`.
        required: true
        style: simple
        schema:
          pattern: ^hybrid/issuers$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ListHybridIssuersResponse'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
    put:
      tags:
      - menuitems
      summary: UpdateV1ByName
      description: Update a menu item.
      operationId: UpdateV1ByName
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: name
        in: path
        description: >-
          Required. Must be of the form

          `organizations/{organization_id}/sites/{site_id}/menuitems/{menu_item_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+/menuitems/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1MenuItemData'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1MenuItem'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
    delete:
      tags:
      - menuitems
      summary: DeleteV1ByName
      description: Delete a menu item.
      operationId: DeleteV1ByName
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: name
        in: path
        description: >-
          Required. Must be of the form

          `organizations/{organization_id}/sites/{site_id}/menuitems/{menu_item_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+/menuitems/[^/]+$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ApiResponseWrapper'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
    post:
      tags:
      - zones
      summary: AssociateSiteZoneV1ByName
      description: Associate a site with a zone.
      operationId: AssociateSiteZoneV1ByName
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: name
        in: path
        description: >-
          Required. Must be of the form

          `organizations/{organization_id}/sites/{site_id}/zones/{zone_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+/zones/[^/]+$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ApiResponseWrapper'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
    patch:
      tags:
      - environments
      summary: UpdateDebugmaskV1ByName
      description: Updates the debug mask singleton resource for an environment.
      operationId: UpdateDebugmaskV1ByName
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: replaceRepeatedFields
        in: query
        description: >-
          If true, repeated fields covered by the update_mask will replace

          the existing values. The default behavior is to append.
        style: form
        explode: true
        schema:
          type: boolean
      - name: updateMask
        in: query
        description: Field mask to support partial updates.
        style: form
        explode: true
        schema:
          type: string
      - name: name
        in: path
        description: The DebugMask resource name.
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/environments/[^/]+/debugmask$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1DebugMask'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1DebugMask'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/toggle/nested:
    put:
      tags:
      - toggle
      summary: NestedV1ToggleNestedByParent
      description: Toggle a menu item's nested state.
      operationId: NestedV1ToggleNestedByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: >-
          Required. Must be of the form

          `organizations/{organization_id}/sites/{site_id}/menuitems/{menu_item_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+/menuitems/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1NestedPayload'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ApiResponseWrapper'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/save/priorities:
    put:
      tags:
      - save
      summary: UpdatePrioritiesV1SavePrioritiesByParent
      description: Update menu item order priorities.
      operationId: UpdatePrioritiesV1SavePrioritiesByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: >-
          Required. Must be of the form

          `organizations/{organization_id}/sites/{site_id}/menuitems`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+/menuitems$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ApiResponseWrapper'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/publish:
    post:
      tags:
      - menuitems
      summary: PublishV1PublishByParent
      description: Publish menu items for a site.
      operationId: PublishV1PublishByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: >-
          Required. Must be of the form

          `organizations/{organization_id}/sites/{site_id}/menuitems`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+/menuitems$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ApiResponseWrapper'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/menuitems:
    get:
      tags:
      - menuitems
      summary: ListV1MenuitemsByParent
      description: List all menu items on a portal.
      operationId: ListV1MenuitemsByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/sites/{site_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ListMenuItemsResponse'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
    post:
      tags:
      - menuitems
      summary: CreateV1MenuitemsByParent
      description: Create a new menu item.
      operationId: CreateV1MenuitemsByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/sites/{site_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1MenuItemData'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1MenuItem'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/testemail:
    post:
      tags:
      - zones
      summary: TestemailV1TestemailByParent
      description: >-
        Send a test email to check the SMTP settings for a IDP zone. Sends the

        email to the requester's email using the token.
      operationId: TestemailV1TestemailByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/zones/{zone_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/zones/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1TestEmail'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ApiResponseWrapper'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/file/list:
    get:
      tags:
      - list
      summary: ListV1FileListByParent
      description: List all files in a portal.
      operationId: ListV1FileListByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. parent=`/organizations/{orgId}/sites/{siteId}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ListFilesResponse'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/file/post:
    post:
      tags:
      - file
      summary: PostV1FilePostByParent
      description: Upload and create a file in a portal.
      operationId: PostV1FilePostByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. parent=`/organizations/{orgId}/sites/{siteId}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleApiHttpBody'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1File'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/file/delete:
    post:
      tags:
      - file
      summary: DeleteV1FileDeleteByParent
      description: Delete a file from a portal by name.
      operationId: DeleteV1FileDeleteByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. parent=`/organizations/{orgId}/sites/{siteId}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1DeleteFileRequest'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ApiResponseWrapper'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/sites/dns/check:
    post:
      tags:
      - dns
      summary: CheckV1SitesDnsCheckByParent
      description: Check DNS to verify if a domain has a CNAME entry.
      operationId: CheckV1SitesDnsCheckByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1DnsCnameCheck'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1DomainVerifiedResponse'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/editorschema:
    get:
      tags:
      - customcss
      summary: GetEditorschemaV1EditorschemaByParent
      description: Get the information needed for the Theme editor.
      operationId: GetEditorschemaV1EditorschemaByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: >-
          Required. Must be of the form

          `organizations/{organization_id}/sites/{site_id}/customcss`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+/customcss$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1EditorSchema'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/site/clone:
    post:
      tags:
      - site
      summary: CloneV1SiteCloneByParent
      description: Clone an existing site to create a new site.
      operationId: CloneV1SiteCloneByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/sites/{site_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1SiteData'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1Site'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/site/analytics:
    post:
      tags:
      - site
      summary: AnalyticsV1SiteAnalyticsByParent
      description: Update the analytics script of a site.
      operationId: AnalyticsV1SiteAnalyticsByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/sites/{site_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1AnalyticsUpdatePayload'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ApiResponseWrapper'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/site/key:
    put:
      tags:
      - site
      summary: KeyV1SiteKeyByParent
      description: Regenerate the secret key of a site.
      operationId: KeyV1SiteKeyByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/sites/{site_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ApiResponseWrapper'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/site/defaultanonallowed:
    post:
      tags:
      - site
      summary: DefaultanonallowedV1SiteDefaultanonallowedByParent
      description: Set the defaultAnonAllowed flag for a site.
      operationId: DefaultanonallowedV1SiteDefaultanonallowedByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/sites/{site_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1DefaultAnonAllowed'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ApiResponseWrapper'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
    get:
      tags:
      - site
      summary: GetDefaultanonallowedV1SiteDefaultanonallowedByParent
      description: Get the defaultAnonAllowed configuration for a site.
      operationId: GetDefaultanonallowedV1SiteDefaultanonallowedByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/sites/{site_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1StringResponse'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/site/approvedEmails:
    post:
      tags:
      - site
      summary: ApprovedEmailsV1SiteApprovedEmailsByParent
      description: Sets the approved emails for sign up on a portal.
      operationId: ApprovedEmailsV1SiteApprovedEmailsByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: body.approvedEmails
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/sites/{site_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ApiResponseWrapper'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/site/domains:
    get:
      tags:
      - site
      summary: GetDomainsV1SiteDomainsByParent
      description: Get the custom domain configuration for a site.
      operationId: GetDomainsV1SiteDomainsByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. parent=`organizations/{orgId}/sites/{siteId}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1CustomDomainConfig'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
    post:
      tags:
      - site
      summary: DomainsV1SiteDomainsByParent
      description: Enable or update the custom domain for a site.
      operationId: DomainsV1SiteDomainsByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. parent=`organizations/{orgId}/sites/{siteId}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1CustomDomainConfigData'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1CustomDomainConfig'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/menutypes:
    post:
      tags:
      - menutypes
      summary: CreateV1MenutypesByParent
      description: Create a new menu type.
      operationId: CreateV1MenutypesByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/sites/{site_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1MenuTypeData'
        required: true
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1MenuType'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
    get:
      tags:
      - menutypes
      summary: ListV1MenutypesByParent
      description: Get all the menu types.
      operationId: ListV1MenutypesByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/sites/{site_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ListMenuTypesResponse'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/smtp/reset:
    post:
      tags:
      - smtp
      summary: ResetV1SmtpResetByParent
      description: Reset the SMTP Configuration for a portal to defaults.
      operationId: ResetV1SmtpResetByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/sites/{site_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudApigeeV1ApiResponseWrapper'
      deprecated: false
      security:
      - httpBearer:
        - https://www.googleapis.com/auth/cloud-platform
  /v1/{parent}/drafttoken/verify:
    post:
      tags:
      - drafttoken
      summary: VerifyV1DrafttokenVerifyByParent
      description: Verify a draft token for a site.
      operationId: VerifyV1DrafttokenVerifyByParent
      parameters:
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        style: form
        explode: true
        schema:
          type: string
          default: 1
          example: 1
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media", "proto")'
        style: form
        explode: true
        schema:
          type: string
          default: json
          example: json
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        style: form
        explode: true
        schema:
          type: string
      - name: access_token
        in: query
        description: OAuth access token.
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        style: form
        explode: true
        schema:
          type: boolean
          default: true
          example: true
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        style: form
        explode: true
        schema:
          type: string
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        style: form
        explode: true
        schema:
          type: string
      - name: parent
        in: path
        description: Required. Must be of the form `organizations/{organization_id}/sites/{site_id}`
        required: true
        style: simple
        schema:
          pattern: ^organizations/[^/]+/sites/[^/]+$
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudApigeeV1VerifyDraftTokenPayload'
        required: true
      responses:
        200:
          description: ''
[...]
