{
  "swagger": "2.0",
  "info": {
    "version": "0.0.1",
    "title": "Apigee Management APIs",
    "description": "As an alternative to managing your Edge organization with the management UI, you can manage it using a RESTful API called the Edge management API. That means you can use the API to create, configure, and manage API proxies and API products, create and manage apps and app developers, and to perform many other types of operations programmatically, using any HTTP client. The API resources exposed by the Edge management API support JSON and XML, and are secured using HTTP Basic Authentication and OAuth"
  },
  "host": "api.enterprise.apigee.com",
  "basePath": "/v1",
  "securityDefinitions": {
    "auth": {
      "type": "basic",
      "x-testValue": [],
      "x-skip-client-authentication": false
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases/{alias_name}/certificate": {
      "get": {
        "description": "Export a certificate for an alias",
        "summary": "Export a certificate for an alias",
        "tags": [
          "Keystore"
        ],
        "operationId": "OrganizationsEnvironmentsKeystoresKeystoreNameAliasesAliasNameCertificateByOrgNameAndEnvNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
            "name": "keystore_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "keystore_name"
          },
          {
            "name": "alias_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "alias_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases/{alias_name}": {
      "put": {
        "description": "Update the certificate in an alias",
        "summary": "Update the certificate in an alias",
        "tags": [
          "Keystore"
        ],
        "operationId": "OrganizationsEnvironmentsKeystoresKeystoreNameAliasesAliasNameByOrgNameAndEnvNamePut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
            "name": "keystore_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "keystore_name"
          },
          {
            "name": "alias_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "alias_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete alias",
        "summary": "Delete alias",
        "tags": [
          "Keystore"
        ],
        "operationId": "OrganizationsEnvironmentsKeystoresKeystoreNameAliasesAliasNameByOrgNameAndEnvNameDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
            "name": "keystore_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "keystore_name"
          },
          {
            "name": "alias_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "alias_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environment/{env_name}/keystores/{keystore_name}/aliases/{alias_name}": {
      "get": {
        "description": "Get keystore alias",
        "summary": "Get keystore alias",
        "tags": [
          "Keystore"
        ],
        "operationId": "OrganizationsEnvironmentKeystoresKeystoreNameAliasesAliasNameByOrgNameAndEnvNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
            "name": "keystore_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "keystore_name"
          },
          {
            "name": "alias_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "alias_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases/{alias_name}/csr": {
      "get": {
        "description": "Generate a CSR for an alias",
        "summary": "Generate a CSR for an alias",
        "tags": [
          "Keystore"
        ],
        "operationId": "OrganizationsEnvironmentsKeystoresKeystoreNameAliasesAliasNameCsrByOrgNameAndEnvNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
            "name": "keystore_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "keystore_name"
          },
          {
            "name": "alias_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "alias_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/certs/{cert_name}": {
      "get": {
        "description": "Get Cert Details from a Keystore or Truststore",
        "summary": "Get Cert Details from a Keystore or Truststore",
        "tags": [
          "Keystore"
        ],
        "operationId": "OrganizationsEnvironmentsKeystoresKeystoreNameCertsCertNameByOrgNameAndEnvNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
            "name": "keystore_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "keystore_name"
          },
          {
            "name": "cert_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "cert_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete Cert from a Keystore or Truststore",
        "summary": "Delete Cert from a Keystore or Truststore",
        "tags": [
          "Keystore"
        ],
        "operationId": "OrganizationsEnvironmentsKeystoresKeystoreNameCertsCertNameByOrgNameAndEnvNameDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
            "name": "keystore_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "keystore_name"
          },
          {
            "name": "cert_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "cert_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/oauth1/accesstokens/{access_token}": {
      "get": {
        "description": "Get OAuth 1.0a Access Token",
        "summary": "Get OAuth 1.0a Access Token",
        "tags": [
          "OAuth 1.0a"
        ],
        "operationId": "OrganizationsOauth1AccesstokensByOrgNameAndAccessTokenGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "access_token",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Update OAuth 1.0a Access Token",
        "summary": "Update OAuth 1.0a Access Token",
        "tags": [
          "OAuth 1.0a"
        ],
        "operationId": "OrganizationsOauth1AccesstokensByOrgNameAndAccessTokenPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "access_token",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete OAuth 1.0a Access Token",
        "summary": "Delete OAuth 1.0a Access Token",
        "tags": [
          "OAuth 1.0a"
        ],
        "operationId": "OrganizationsOauth1AccesstokensByOrgNameAndAccessTokenDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "access_token",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/oauth1/accesstokens": {
      "get": {
        "description": "Get Count Of OAuth 1.0a Access Token",
        "summary": "Get Count Of OAuth 1.0a Access Token",
        "tags": [
          "OAuth 1.0a"
        ],
        "operationId": "OrganizationsOauth1AccesstokensByOrgNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/oauth1/verifiers/{verifier_code}": {
      "get": {
        "description": "Get OAuth 1.0a Verifier Code",
        "summary": "Get OAuth 1.0a Verifier Code",
        "tags": [
          "OAuth 1.0a"
        ],
        "operationId": "OrganizationsOauth1VerifiersByOrgNameAndVerifierCodeGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "verifier_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "verifier_code"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete OAuth 1.0a Verifier Code",
        "summary": "Delete OAuth 1.0a Verifier Code",
        "tags": [
          "OAuth 1.0a"
        ],
        "operationId": "OrganizationsOauth1VerifiersByOrgNameAndVerifierCodeDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "verifier_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "verifier_code"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/oauth1/verifiers": {
      "get": {
        "description": "List OAuth 1.0a Verifier Code",
        "summary": "List OAuth 1.0a Verifier Code",
        "tags": [
          "OAuth 1.0a"
        ],
        "operationId": "OrganizationsOauth1VerifiersByOrgNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/oauth2/refreshtokens/{refresh_token}": {
      "post": {
        "description": "Approve or revoke an OAuth 2.0 refresh token",
        "summary": "Approve or revoke an OAuth 2.0 refresh token",
        "tags": [
          "OAuth 2.0"
        ],
        "operationId": "OrganizationsOauth2RefreshtokensByOrgNameAndRefreshTokenPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "refresh_token",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "refresh_token"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/reports/{report_name}": {
      "get": {
        "description": "Get an analytics report definition",
        "summary": "Get an analytics report definition",
        "tags": [
          "Analytics"
        ],
        "operationId": "OrganizationsReportsByOrgNameAndReportNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "report_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "report_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Update an analytics report definition",
        "summary": "Update an analytics report definition",
        "tags": [
          "Analytics"
        ],
        "operationId": "OrganizationsReportsByOrgNameAndReportNamePut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "report_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "report_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete an analytics report definition",
        "summary": "Delete an analytics report definition",
        "tags": [
          "Analytics"
        ],
        "operationId": "OrganizationsReportsByOrgNameAndReportNameDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "report_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "report_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/reports": {
      "get": {
        "description": "Lists analytics report definitions",
        "summary": "Lists analytics report definitions",
        "tags": [
          "Analytics"
        ],
        "operationId": "OrganizationsReportsByOrgNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Create an analytics report definition",
        "summary": "Create an analytics report definition",
        "tags": [
          "Analytics"
        ],
        "operationId": "OrganizationsReportsByOrgNamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/developers/{developer_email_or_id}/attributes/{attribute_name}": {
      "get": {
        "description": "Get Developer Attribute",
        "summary": "Get Developer Attribute",
        "tags": [
          "Developer"
        ],
        "operationId": "OrganizationsDevelopersAttributesAttributeNameByOrgNameAndDeveloperEmailOrIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          },
          {
            "name": "attribute_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "attribute_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Update a Developer Attribute",
        "summary": "Update a Developer Attribute",
        "tags": [
          "Developer"
        ],
        "operationId": "OrganizationsDevelopersAttributesAttributeNameByOrgNameAndDeveloperEmailOrIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          },
          {
            "name": "attribute_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "attribute_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete Developer Attribute",
        "summary": "Delete Developer Attribute",
        "tags": [
          "Developer"
        ],
        "operationId": "OrganizationsDevelopersAttributesAttributeNameByOrgNameAndDeveloperEmailOrIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          },
          {
            "name": "attribute_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "attribute_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/developers/{developer_email_or_id}/attributes": {
      "get": {
        "description": "Get all Developer Attributes",
        "summary": "Get all Developer Attributes",
        "tags": [
          "Developer"
        ],
        "operationId": "OrganizationsDevelopersAttributesByOrgNameAndDeveloperEmailOrIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Update all Developer Attributes",
        "summary": "Update all Developer Attributes",
        "tags": [
          "Developer"
        ],
        "operationId": "OrganizationsDevelopersAttributesByOrgNameAndDeveloperEmailOrIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/developers/{developer_email_or_id}": {
      "get": {
        "description": "Get Developer",
        "summary": "Get Developer",
        "tags": [
          "Developer"
        ],
        "operationId": "OrganizationsDevelopersByOrgNameAndDeveloperEmailOrIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Update Developer",
        "summary": "Update Developer",
        "tags": [
          "Developer"
        ],
        "operationId": "OrganizationsDevelopersByOrgNameAndDeveloperEmailOrIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Set Developer Status",
        "summary": "Set Developer Status",
        "tags": [
          "Developer"
        ],
        "operationId": "OrganizationsDevelopersByOrgNameAndDeveloperEmailOrIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete Developer",
        "summary": "Delete Developer",
        "tags": [
          "Developer"
        ],
        "operationId": "OrganizationsDevelopersByOrgNameAndDeveloperEmailOrIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/developers": {
      "get": {
        "description": "List Developers",
        "summary": "List Developers",
        "tags": [
          "Developer"
        ],
        "operationId": "OrganizationsDevelopersByOrgNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Create Developer",
        "summary": "Create Developer",
        "tags": [
          "Developer"
        ],
        "operationId": "OrganizationsDevelopersByOrgNamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environments/{env_name}/caches/{cache_name}/entries": {
      "post": {
        "description": "Clear all cache entries",
        "summary": "Clear all cache entries",
        "tags": [
          "Cache"
        ],
        "operationId": "OrganizationsEnvironmentsCachesCacheNameEntriesByOrgNameAndEnvNamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
            "name": "cache_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "cache_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environments/{env_name}/caches/{cache_name}": {
      "get": {
        "description": "Get information about a cache",
        "summary": "Get information about a cache",
        "tags": [
          "Cache"
        ],
        "operationId": "OrganizationsEnvironmentsCachesCacheNameByOrgNameAndEnvNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
            "name": "cache_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "cache_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Update a cache in an environment",
        "summary": "Update a cache in an environment",
        "tags": [
          "Cache"
        ],
        "operationId": "OrganizationsEnvironmentsCachesCacheNameByOrgNameAndEnvNamePut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
            "name": "cache_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "cache_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete a cache",
        "summary": "Delete a cache",
        "tags": [
          "Cache"
        ],
        "operationId": "OrganizationsEnvironmentsCachesCacheNameByOrgNameAndEnvNameDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
            "name": "cache_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "cache_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environments/{env_name}/caches": {
      "get": {
        "description": "List caches in an environment",
        "summary": "List caches in an environment",
        "tags": [
          "Cache"
        ],
        "operationId": "OrganizationsEnvironmentsCachesByOrgNameAndEnvNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Create a cache in an environment",
        "summary": "Create a cache in an environment",
        "tags": [
          "Cache"
        ],
        "operationId": "OrganizationsEnvironmentsCachesByOrgNameAndEnvNamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/companies/{company_name}/appfamilies/{appfamily_name}": {
      "get": {
        "description": "Get Company App Family",
        "summary": "Get Company App Family",
        "tags": [
          "Company App Families"
        ],
        "operationId": "OrganizationsCompaniesAppfamiliesAppfamilyNameByOrgNameAndCompanyNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "company_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "company_name"
          },
          {
            "name": "appfamily_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "appfamily_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Update Company App Family",
        "summary": "Update Company App Family",
        "tags": [
          "Company App Families"
        ],
        "operationId": "OrganizationsCompaniesAppfamiliesAppfamilyNameByOrgNameAndCompanyNamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "company_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "company_name"
          },
          {
            "name": "appfamily_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "appfamily_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete Company App Family",
        "summary": "Delete Company App Family",
        "tags": [
          "Company App Families"
        ],
        "operationId": "OrganizationsCompaniesAppfamiliesAppfamilyNameByOrgNameAndCompanyNameDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "company_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "company_name"
          },
          {
            "name": "appfamily_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "appfamily_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/companies/{company_name}/appfamilies": {
      "get": {
        "description": "List Company App Families",
        "summary": "List Company App Families",
        "tags": [
          "Company App Families"
        ],
        "operationId": "OrganizationsCompaniesAppfamiliesByOrgNameAndCompanyNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "company_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "company_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Create Company App Family",
        "summary": "Create Company App Family",
        "tags": [
          "Company App Families"
        ],
        "operationId": "OrganizationsCompaniesAppfamiliesByOrgNameAndCompanyNamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "company_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "company_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environments/{env_name}/servers": {
      "get": {
        "description": "Get servers associated with an environment",
        "summary": "Get servers associated with an environment",
        "tags": [
          "Environment"
        ],
        "operationId": "OrganizationsEnvironmentsServersByOrgNameAndEnvNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Disassociate an environment with a Message Processor",
        "summary": "Disassociate an environment with a Message Processor",
        "tags": [
          "Environment"
        ],
        "operationId": "OrganizationsEnvironmentsServersByOrgNameAndEnvNamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environments/{env_name}/deployments": {
      "get": {
        "description": "Get API Proxy Deployments for an Environment",
        "summary": "Get API Proxy Deployments for an Environment",
        "tags": [
          "Environment"
        ],
        "operationId": "OrganizationsEnvironmentsDeploymentsByOrgNameAndEnvNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environments/{env_name}/apis/{api_name}/deployments": {
      "get": {
        "description": "Get Deployment Details for an API Proxy in an Environment",
        "summary": "Get Deployment Details for an API Proxy in an Environment",
        "tags": [
          "Environment"
        ],
        "operationId": "OrganizationsEnvironmentsApisApiNameDeploymentsByOrgNameAndEnvNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
            "name": "api_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "api_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environments/{env_name}": {
      "get": {
        "description": "Get Environment Details",
        "summary": "Get Environment Details",
        "tags": [
          "Environment"
        ],
        "operationId": "OrganizationsEnvironmentsByOrgNameAndEnvNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Update an environment",
        "summary": "Update an environment",
        "tags": [
          "Environment"
        ],
        "operationId": "OrganizationsEnvironmentsByOrgNameAndEnvNamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete an environment",
        "summary": "Delete an environment",
        "tags": [
          "Environment"
        ],
        "operationId": "OrganizationsEnvironmentsByOrgNameAndEnvNameDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environments": {
      "get": {
        "description": "Get Environment Names",
        "summary": "Get Environment Names",
        "tags": [
          "Environment"
        ],
        "operationId": "OrganizationsEnvironmentsByOrgNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Create Environment",
        "summary": "Create Environment",
        "tags": [
          "Environment"
        ],
        "operationId": "OrganizationsEnvironmentsByOrgNamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/developers/{developer_email_or_id}/appfamilies/{appfamily_name}": {
      "get": {
        "description": "Get Developer App Family",
        "summary": "Get Developer App Family",
        "tags": [
          "Developer App Families, Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppfamiliesAppfamilyNameByOrgNameAndDeveloperEmailOrIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          },
          {
            "name": "appfamily_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "appfamily_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Update Developer App Family",
        "summary": "Update Developer App Family",
        "tags": [
          "Developer App Families, Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppfamiliesAppfamilyNameByOrgNameAndDeveloperEmailOrIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          },
          {
            "name": "appfamily_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "appfamily_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete Developer App Family",
        "summary": "Delete Developer App Family",
        "tags": [
          "Developer App Families, Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppfamiliesAppfamilyNameByOrgNameAndDeveloperEmailOrIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          },
          {
            "name": "appfamily_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "appfamily_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/developers/{developer_email_or_id}/appfamilies": {
      "get": {
        "description": "List Developer App Families",
        "summary": "List Developer App Families",
        "tags": [
          "Developer App Families, Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppfamiliesByOrgNameAndDeveloperEmailOrIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Create Developer App Family",
        "summary": "Create Developer App Family",
        "tags": [
          "Developer App Families, Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppfamiliesByOrgNameAndDeveloperEmailOrIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/apis/{api_name}/revisions/{revision_number}/npm": {
      "get": {
        "description": "Gets npm dependencies for an API Proxy.",
        "summary": "Gets npm dependencies for an API Proxy.",
        "tags": [
          "Nodejs"
        ],
        "operationId": "OrganizationsApisRevisionsRevisionNumberNpmByOrgNameAndApiNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "api_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "api_name"
          },
          {
            "name": "revision_number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "revision_number"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Manage Node Packaged Modules",
        "summary": "Manage Node Packaged Modules",
        "tags": [
          "Nodejs"
        ],
        "operationId": "OrganizationsApisRevisionsRevisionNumberNpmByOrgNameAndApiNamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "api_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "api_name"
          },
          {
            "name": "revision_number",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "revision_number"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/developers/{developer_email_or_id}/apps/{app_name}/attributes": {
      "get": {
        "description": "Get all App Attributes",
        "summary": "Get all App Attributes",
        "tags": [
          "Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppsAppNameAttributesByOrgNameAndDeveloperEmailOrIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          },
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Update all App Attributes",
        "summary": "Update all App Attributes",
        "tags": [
          "Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppsAppNameAttributesByOrgNameAndDeveloperEmailOrIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          },
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/developers/{developer_email_or_id}/apps/{app_name}": {
      "get": {
        "description": "Get Developer App Details",
        "summary": "Get Developer App Details",
        "tags": [
          "Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppsAppNameByOrgNameAndDeveloperEmailOrIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          },
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "description": "Update Developer App",
        "summary": "Update Developer App",
        "tags": [
          "Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppsAppNameByOrgNameAndDeveloperEmailOrIdPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          },
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Generate a new key pair for a developer app",
        "summary": "Generate a new key pair for a developer app",
        "tags": [
          "Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppsAppNameByOrgNameAndDeveloperEmailOrIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          },
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete Developer App",
        "summary": "Delete Developer App",
        "tags": [
          "Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppsAppNameByOrgNameAndDeveloperEmailOrIdDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          },
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "app_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/developers/{developer_email_or_id}/apps": {
      "get": {
        "description": "List Developer Apps",
        "summary": "List Developer Apps",
        "tags": [
          "Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppsByOrgNameAndDeveloperEmailOrIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Create Developer App",
        "summary": "Create Developer App",
        "tags": [
          "Developer App"
        ],
        "operationId": "OrganizationsDevelopersAppsByOrgNameAndDeveloperEmailOrIdPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "developer_email_or_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "developer_email_or_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/vaults/{vault_name_in_org}/entries": {
      "post": {
        "description": "Create a Vault Entry in an Org",
        "summary": "Create a Vault Entry in an Org",
        "tags": [
          "Vaults"
        ],
        "operationId": "OrganizationsVaultsEntriesByOrgNameAndVaultNameInOrgPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "vault_name_in_org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "vault_name_in_org"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/vaults/{vault_name_in_org}": {
      "get": {
        "description": "List Entries in a Vault in an Org",
        "summary": "List Entries in a Vault in an Org",
        "tags": [
          "Vaults"
        ],
        "operationId": "OrganizationsVaultsByOrgNameAndVaultNameInOrgGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "vault_name_in_org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "vault_name_in_org"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "delete": {
        "description": "Delete a Vault in an Org",
        "summary": "Delete a Vault in an Org",
        "tags": [
          "Vaults"
        ],
        "operationId": "OrganizationsVaultsByOrgNameAndVaultNameInOrgDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "vault_name_in_org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "vault_name_in_org"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/vaults": {
      "get": {
        "description": "List Vaults in an Org",
        "summary": "List Vaults in an Org",
        "tags": [
          "Vaults"
        ],
        "operationId": "OrganizationsVaultsByOrgNameGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "Create a Vault in an Org",
        "summary": "Create a Vault in an Org",
        "tags": [
          "Vaults"
        ],
        "operationId": "OrganizationsVaultsByOrgNamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "bad input parameter",
            "schema": {}
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/organizations/{org_name}/environments/{env_name}/vaults/{vault_name_in_env}/entries": {
      "post": {
        "description": "Create a Vault Entry in an Environment",
        "summary": "Create a Vault Entry in an Environment",
        "tags": [
          "Vaults"
        ],
        "operationId": "OrganizationsEnvironmentsVaultsVaultNameInEnvEntriesByOrgNameAndEnvNamePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "org_name"
          },
          {
            "name": "env_name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "env_name"
          },
          {
[...]
